@media screen{
*,*:before,*:after{box-sizing:border-box}
html{line-height:1.6;background:var(--c0);color:#fff}
body{max-width:50em;padding:1em;margin:1em auto}
a{color:var(--c3)}
blockquote{padding:1em;background:var(--c2);color:#000}
code{padding:0.1em 0.25em;white-space:nowrap}
code,pre{background:var(--c2);color:#000}
figure{display:flex;justify-content:center}
h1{margin-bottom:0}
h1,h2,h3{color:var(--c2)}
h2{border-bottom:thin solid var(--c2)}
hr{border:none;border-bottom:thin dotted var(--c3)}
img{max-width:100%;max-height:30em}
pre{padding:0.75em;overflow:auto}
p{text-align:justify}
ul{list-style:square}
nav ul{display:flex;margin:0;padding:0;list-style:none;gap:2em}
nav a{display:inline-block}
@media(prefers-color-scheme:light){
html{background:var(--c3);color:#000}
a{color:var(--c1)}
h1,h2,h3{color:var(--c0)}
h2{border-color:var(--c0)}
hr{border-color:var(--c1)}}
@media(max-width:600px){nav ul{display:block}}}
@media print{nav,aside,footer{display:none}}
